<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <h1>Olá</h1>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p>Entre os valores abaixo:</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Valor 1:</ion-label>
          <ion-input [(ngModel)]="valor1"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Valor 2:</ion-label>
          <ion-input [(ngModel)]="valor2"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="calcular()">Calcular</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Resultado:</ion-label>
          <ion-input position="stacked" disabled="true" [value]="exibirResultado()"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>